[submodule "Ext/assimp"]
	path = Ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Ext/sol2"]
	path = Ext/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Ext/stduuid"]
	path = Ext/stduuid
	url = https://github.com/mariusbancila/stduuid.git
